@font-face {
  font-family: "iconfont"; /* Project id 4371542 */
  src: url('iconfont.woff2?t=1702452218078') format('woff2'),
       url('iconfont.woff?t=1702452218078') format('woff'),
       url('iconfont.ttf?t=1702452218078') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liwuhuodong:before {
  content: "\e600";
}

.icon-naozhong:before {
  content: "\e890";
}

.icon-icon-test:before {
  content: "\e673";
}

.icon-zixun:before {
  content: "\e730";
}

.icon-kehujinglishouye:before {
  content: "\e630";
}

