@font-face {
  font-family: "iconfont"; /* Project id 4296214 */
  src: url('iconfont.woff2?t=1702387064375') format('woff2'),
       url('iconfont.woff?t=1702387064375') format('woff'),
       url('iconfont.ttf?t=1702387064375') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huangguan:before {
  content: "\e653";
}

.icon-jijin:before {
  content: "\e611";
}

.icon-quanbu:before {
  content: "\e609";
}

.icon-cunkuan:before {
  content: "\e622";
}

.icon-licaichanpin:before {
  content: "\100f2";
}

.icon-baoxiandingdan:before {
  content: "\e895";
}

.icon-waihuimaimai:before {
  content: "\e606";
}

.icon-yanglaobaoxianfeihuanjiao:before {
  content: "\e61b";
}

.icon-guijinshu:before {
  content: "\e681";
}

.icon-xianzhixiaofeiling:before {
  content: "\e742";
}

.icon-yewurenyuanxinxiguanli:before {
  content: "\e60e";
}

.icon-shenghuojiaofei:before {
  content: "\e627";
}

.icon-izhaozijin:before {
  content: "\e6c6";
}

.icon-yewu_douzi:before {
  content: "\e680";
}

.icon-saoyisao:before {
  content: "\e8b5";
}

.icon-31wode:before {
  content: "\e600";
}

.icon-alisis:before {
  content: "\e690";
}

.icon-shenghuo1:before {
  content: "\e625";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon--yuyinshuruzhong:before {
  content: "\e60a";
}

.icon-xiaoxi:before {
  content: "\e60b";
}

.icon-kefu:before {
  content: "\e686";
}

.icon-caifu:before {
  content: "\e613";
}

.icon-shouye-zhihui:before {
  content: "\e61d";
}

